@use "bases/reset";
@use "modules/Modules";
@use "utilities/Utilities";
.dashboard{
    min-height: 100vh;
    position: relative;
    &__img{
        position: absolute;
        z-index: -1;
    }
}

