@use "bases/reset";
@use "modules/Modules";
@use "utilities/Utilities";
.dashboard{
    min-height: 100vh;
    position: relative;
    &__img{
        position: absolute;
        z-index: -1;
    }
    //ejm
    // &__navbar{
    //     @include Utilities.flex-row;
    // }
}

//ejm
// .navbar{
//     &__list{
//         @include Utilities.flex-row;
//         gap: 3rem;
        
//     }
// }
