@use "../utilities/Utilities";


@mixin info{
    .info {
        &__h3 {
            display: inline-block;
            @include Utilities.styleNormal-weight700;
            font-size: 3rem;
            line-height: 3.6rem;
        }
    
        &__list {
            @include Utilities.flex-column;
            @include Utilities.styleNormal-weight400;
            font-size: 2.5rem;
            line-height: 3rem;
            width: 43rem;
            margin-bottom: 9rem;
        }
    
        &__item {
            margin-bottom: 2rem;
        }
    
    }
}
